body {
  font: 16px 'MicrosoftYaHeiLight', 'Microsoft YaHei', Arial;
  width: 1366px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
header.page-header {
  background: url("../img/arc-line.png") bottom center/1366px 35px no-repeat, url("../img/mask.png") top center no-repeat;
  position: relative;
  z-index: 1000;
}
header.page-header .innerwrap {
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
header.page-header .innerwrap .logo {
  font-size: 33px;
  font-weight: bold;
  color: #333;
  position: relative;
}
header.page-header .innerwrap p {
  position: relative;
  top: -20px;
}
.main-content,
.innerwrap {
  width: 1020px;
  margin: 0 auto;
  overflow: hidden;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}
.main-content .banner,
.innerwrap .banner {
  position: relative;
  top: -36px;
  height: 485px;
  background: url("../img/bg_header.jpg") no-repeat;
  background-size: 1026px 403px;
  background-position-y: 50px;
}
.main-content .banner header,
.innerwrap .banner header {
  position: absolute;
  width: 435px;
  height: 55px;
  bottom: 94px;
  background-color: rgba(28,61,94,0.549);
}
.main-content .banner header h1,
.innerwrap .banner header h1 {
  font-size: 36px;
  color: #fff;
  text-align: center;
  font-weight: 100;
}
.main-content .banner header h1 .district,
.innerwrap .banner header h1 .district {
  opacity: 0.5;
}
.main-content .container,
.innerwrap .container {
  position: relative;
  top: -56px;
}
.main-content .container .row,
.innerwrap .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
  width: 100%;
}
.main-content .container .row section,
.innerwrap .container .row section {
  display: inline-block;
  margin-right: 12px;
  vertical-align: top;
}
.main-content .container .row section.activity,
.innerwrap .container .row section.activity {
  width: 679px;
  height: 239px;
  background-image: url("../img/activity.jpg");
}
.main-content .container .row section.activity header,
.innerwrap .container .row section.activity header {
  width: 220px;
  height: 45px;
  margin-top: 22px;
  line-height: 45px;
  text-align: center;
  background-color: #069;
  color: #fff;
  font-size: 30px;
}
.main-content .container .row section.resource,
.innerwrap .container .row section.resource {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0;
          flex: 1 1 0;
  margin-right: 0;
  padding: 16px;
  box-sizing: border-box;
  display: inline-block;
  width: 335px;
  height: 238px;
  background-color: #f7f7f7;
}
.main-content .container .row section.resource .title,
.innerwrap .container .row section.resource .title {
  margin-bottom: 10px;
}
.main-content .container .row section.resource .title p,
.innerwrap .container .row section.resource .title p {
  color: #727272;
  font-size: 13px;
  margin-bottom: 5px;
}
.main-content .container .row section.resource div.btn-wrapper,
.innerwrap .container .row section.resource div.btn-wrapper {
  text-align: right;
}
.main-content .container .row section.resource div.btn-wrapper a.button,
.innerwrap .container .row section.resource div.btn-wrapper a.button {
  display: inline-block;
  width: 60px;
  height: 20px;
  text-align: center;
  background-color: #069;
  color: #fff;
  font-size: 10px;
  line-height: 20px;
}
.main-content .container .row section.training,
.innerwrap .container .row section.training {
  width: 173px;
  height: 198px;
  background: url("../img/xuexizhongxing.jpg") no-repeat;
  position: relative;
}
.main-content .container .row section.training .training-header,
.innerwrap .container .row section.training .training-header {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
.main-content .container .row section.training .training-header span,
.innerwrap .container .row section.training .training-header span {
  font-size: 22px;
  color: #fff;
}
.main-content .container .row section.platform,
.innerwrap .container .row section.platform {
  width: 253px;
  height: 198px;
  background: url("../img/ziyuanzhongxing.jpg") no-repeat;
  text-align: center;
}
.main-content .container .row section.platform .platform-header,
.innerwrap .container .row section.platform .platform-header {
  margin-top: 10px;
  width: 132px;
  height: 37px;
  background-color: rgba(247,247,247,0.2);
}
.main-content .container .row section.platform .platform-header span,
.innerwrap .container .row section.platform .platform-header span {
  font-size: 24px;
  color: #000;
}
.main-content .container .row section.research,
.innerwrap .container .row section.research {
  width: 117px;
  height: 198px;
  background: url("../img/jianxijiaoshi.jpg") no-repeat;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-content .container .row section.research .research-header,
.innerwrap .container .row section.research .research-header {
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.main-content .container .row section.research .research-header p,
.innerwrap .container .row section.research .research-header p {
  margin: 0 auto;
}
.main-content .container .row section.expert,
.innerwrap .container .row section.expert {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0;
          flex: 1 1 0;
  position: relative;
  width: 440px;
  height: 198px;
  margin-right: 0;
  background: url("../img/xiaobenyanxiu.jpg") no-repeat;
  background-size: cover;
}
.main-content .container .row section.expert .expert-header,
.innerwrap .container .row section.expert .expert-header {
  position: absolute;
  bottom: 10px;
  right: 0;
  text-align: right;
  padding-right: 10px;
  width: 307px;
  height: 37px;
  background-color: rgba(247,247,247,0.3);
}
.main-content .container .row section.expert .expert-header span,
.innerwrap .container .row section.expert .expert-header span {
  font-size: 24px;
  color: #000;
}
.main-content .container .row section.mingshi,
.innerwrap .container .row section.mingshi {
  position: relative;
  width: 264px;
  height: 239px;
  background: url("../img/mingshi.jpg") no-repeat;
  background-size: 120%;
}
.main-content .container .row section.mingshi .mingshi-header,
.innerwrap .container .row section.mingshi .mingshi-header {
  position: absolute;
  top: 20px;
  left: 0;
  text-align: left;
  padding-left: 10px;
  width: 80%;
  height: 46px;
  line-height: 46px;
  background-color: rgba(247,247,247,0.3);
}
.main-content .container .row section.mingshi .mingshi-header span,
.innerwrap .container .row section.mingshi .mingshi-header span {
  font-size: 24px;
  color: #fff;
}
.main-content .container .row section.youqing,
.innerwrap .container .row section.youqing {
  position: relative;
  width: 264px;
  height: 239px;
  background: url("../img/youqing.jpg") no-repeat;
  background-size: cover;
}
.main-content .container .row section.youqing .youqing-header,
.innerwrap .container .row section.youqing .youqing-header {
  position: absolute;
  bottom: 20px;
  left: 0;
  text-align: left;
  padding-left: 10px;
  width: 80%;
  height: 46px;
  line-height: 46px;
  background-color: rgba(247,247,247,0.3);
}
.main-content .container .row section.youqing .youqing-header span,
.innerwrap .container .row section.youqing .youqing-header span {
  font-size: 24px;
  color: #fff;
}
.main-content .container .row section.daitouren,
.innerwrap .container .row section.daitouren {
  position: relative;
  width: 264px;
  height: 239px;
  background: url("../img/daitouren.jpg") no-repeat;
  background-size: cover;
}
.main-content .container .row section.daitouren .daitouren-header,
.innerwrap .container .row section.daitouren .daitouren-header {
  position: absolute;
  bottom: 20px;
  right: 0;
  text-align: right;
  padding-right: 10px;
  width: 80%;
  height: 46px;
  line-height: 46px;
  background-color: rgba(247,247,247,0.3);
}
.main-content .container .row section.daitouren .daitouren-header span,
.innerwrap .container .row section.daitouren .daitouren-header span {
  font-size: 24px;
  color: #000;
}
.main-content .container .row section.fazhanxuexiao,
.innerwrap .container .row section.fazhanxuexiao {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 264px;
          flex: 1 1 264px;
  position: relative;
  background: url("../img/fazhanxuexiao.jpg") no-repeat;
  background-size: cover;
  margin-right: 0;
}
.main-content .container .row section.fazhanxuexiao .fazhanxuexiao-header,
.innerwrap .container .row section.fazhanxuexiao .fazhanxuexiao-header {
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center;
  line-height: 1.2;
  padding: 0.5em;
  background-color: rgba(247,247,247,0.3);
}
.main-content .container .row section.fazhanxuexiao .fazhanxuexiao-header p,
.innerwrap .container .row section.fazhanxuexiao .fazhanxuexiao-header p {
  font-size: 24px;
  color: #000;
}
.main-content .container .expert-wrapper,
.innerwrap .container .expert-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0;
          flex: 1 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-content .container .fazhanxuexiao-wrapper,
.innerwrap .container .fazhanxuexiao-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0;
          flex: 1 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-content .container .half,
.innerwrap .container .half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0;
          flex: 1 1 0;
}
footer {
  position: relative;
  width: 1020px;
  top: -56px;
  height: 138px;
  background: url("../img/footer.jpg") no-repeat;
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
}
footer span {
  display: inline-block;
  margin-right: 20px;
}
@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00fffe, 0 0 40px #00fffe, 0 0 70px #00fffe, 0 0 80px #00fffe, 0 0 100px #00fffe, 0 0 150px #00fffe;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00fffe, 0 0 20px #00fffe, 0 0 35px #00fffe, 0 0 40px #00fffe, 0 0 50px #00fffe, 0 0 75px #00fffe;
  }
}
/*# sourceMappingURL=style.css.map */