@import 'var'
body
  font: 16px font
  width: 1366px
  margin: 0 auto  
a
  text-decoration: none
  &:hover
    cursor: pointer
  
header.page-header
  background: url('../img/arc-line.png') bottom center/1366px 35px no-repeat, url('../img/mask.png') top center no-repeat
  position: relative
  z-index: 1000
  .innerwrap 
    height: 140px
    display: flex
    justify-content: space-between
    align-items: flex-end
    .logo
      font-size: 33px
      font-weight: bold
      color: #333
      position: relative
    p
      position: relative
      top: -20px
      
.main-content, .innerwrap 
  width: 1020px
  margin: 0 auto
  overflow: hidden
  transform: translateY(-50px)
  .banner
    position: relative
    top: -36px
    height: 485px
    background: url('../img/bg_header.jpg') no-repeat
    background-size: 1026px 403px
    background-position-y: 50px  
    header
      position: absolute
      width: 435px
      height: 55px
      bottom: (58 + 36)px
      background-color: rgba(28, 61, 94, 0.549)
      h1
        font-size: 36px
        color: #fff
        text-align: center
        font-weight: 100
        .district
          opacity: 0.5
  .container 
    position: relative
    top: -56px
    .row
      display: flex
      margin-bottom: 12px
      width: 100%
    .row section
      display: inline-block
      margin-right: 12px
      vertical-align: top
      &.activity
        width: 679px
        height: 239px
        background-image: url(../img/activity.jpg)
        header
          width: 220px
          height: 45px
          margin-top: 22px
          line-height: 45px
          text-align: center
          background-color: header-color
          color: #fff
          font-size: 30px

      &.resource
        flex: 1 1 0
        margin-right: 0
        padding: 16px
        box-sizing: border-box
        display: inline-block
        width: 335px
        height: 238px
        background-color: #f7f7f7
        .title
          margin-bottom: 10px
          p
            color: #727272
            font-size: 13px
            margin-bottom: 5px
        div.btn-wrapper
          text-align: right
          a.button
            display: inline-block
            width: 60px
            height: 20px
            text-align: center
            background-color: header-color
            color: #fff
            font-size: 10px
            line-height: 20px
      &.training
        width: 173px
        height: 198px
        background: url('../img/xuexizhongxing.jpg') no-repeat
        position: relative
        .training-header
          position: absolute
          bottom: 10px
          width: 100%
          text-align: center
          span
            font-size: 22px
            color: #fff
      &.platform
        width: 253px
        height: 198px
        background: url('../img/ziyuanzhongxing.jpg') no-repeat
        text-align: center
        .platform-header
          margin-top: 10px
          width: 132px
          height: 37px
          background-color: rgba(247, 247, 247, 0.2)
          span
            font-size: 24px
            color: #000
      &.research
        width: 117px
        height: 198px
        background: url('../img/jianxijiaoshi.jpg') no-repeat
        text-align: center
        display: flex
        align-items: center
        justify-content: center
        .research-header
          text-align: center
          font-size: 18px
          color: #fff
          p
            margin: 0 auto
      &.expert
        flex: 1 1 0 
        position: relative
        width: 440px
        height: 198px
        margin-right: 0
        background: url('../img/xiaobenyanxiu.jpg') no-repeat
        background-size: cover
        .expert-header
          position: absolute
          bottom: 10px
          right: 0
          text-align: right
          padding-right: 10px
          width: 307px
          height: 37px
          background-color: rgba(247, 247, 247, 0.3)
          span
            font-size: 24px
            color: #000
      &.mingshi
        position: relative
        width: 264px
        height: 239px
        background: url('../img/mingshi.jpg') no-repeat
        background-size: 120%
        .mingshi-header
          position: absolute
          top: 20px
          left: 0
          text-align: left
          padding-left: 10px
          width: 80%
          height: 46px
          line-height: 46px
          background-color: rgba(247, 247, 247, 0.3)
          span
            font-size: 24px
            color: #fff
      &.youqing
        position: relative
        width: 264px
        height: 239px
        background: url('../img/youqing.jpg') no-repeat
        background-size: cover
        .youqing-header
          position: absolute
          bottom: 20px
          left: 0
          text-align: left
          padding-left: 10px
          width: 80%
          height: 46px
          line-height: 46px
          background-color: rgba(247, 247, 247, 0.3)
          span
            font-size: 24px
            color: #fff
      &.daitouren
        position: relative
        width: 264px
        height: 239px
        background: url('../img/daitouren.jpg') no-repeat
        background-size: cover
        .daitouren-header
          position: absolute
          bottom: 20px
          right: 0
          text-align: right
          padding-right: 10px
          width: 80%
          height: 46px
          line-height: 46px
          background-color: rgba(247, 247, 247, 0.3)
          span
            font-size: 24px
            color: #000
      &.fazhanxuexiao
        flex: 1 1 264px
        position: relative
        background: url('../img/fazhanxuexiao.jpg') no-repeat
        background-size: cover
        margin-right: 0
        .fazhanxuexiao-header
          position: absolute
          width: 100%
          bottom: 20px
          text-align: center
          line-height: 1.2
          padding: 0.5em
          background-color: rgba(247, 247, 247, 0.3)
          p
            font-size: 24px
            color: #000
    .expert-wrapper
      flex: 1 1 0
      display: flex
    .fazhanxuexiao-wrapper
      flex: 1 1 0
      display: flex
    .half 
      display: flex
      flex: 1 1 0

footer 
  position: relative
  width: 1020px
  top: -56px
  height: 138px
  background: url('../img/footer.jpg') no-repeat
  text-align: center
  color: #fff
  display: flex
  flex-direction: column
  justify-content: center
  font-size: 14px
  span
    display: inline-block
    margin-right: 20px

    
@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px neon-color, 0 0 40px neon-color, 0 0 70px neon-color, 0 0 80px neon-color, 0 0 100px neon-color, 0 0 150px neon-color;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px neon-color, 0 0 20px neon-color, 0 0 35px neon-color, 0 0 40px neon-color, 0 0 50px neon-color, 0 0 75px neon-color;
  }
}