font = 'MicrosoftYaHeiLight', 'Microsoft YaHei', Arial 
bg-color = #f39800
brown = #6b470a
neon-color = #00fffe
html, body
  font: 16px font
  background-color: #f1f1f1
header.page-header
  background: url('../img/arc-line.png') bottom center/1366px 35px no-repeat, url('../img/mask.png') top center no-repeat
  position: relative
  z-index: 1000
  .innerwrap 
    height: 140px
    display: flex
    justify-content: space-between
    align-items: flex-end
    img.logo
      width: 130px
      height: 62px
      position: relative
      top: -20px
    p
      position: relative
      top: -20px
      
.main-content, .innerwrap 
  width: 1026px
  margin: 0 auto
  overflow: hidden
  transform: translateY(-50px)
  .banner
    position: relative
    top: -36px
    height: 485px
    background: url('../img/bg_header.png') no-repeat
    background-size: 1026px 485px
    background-position-y: 50px
  nav
    position: relative
    top: -36px
    height: 46px
    background-color: #a04906
    display: flex
    justify-content: space-around
    align-items: flex-end
    box-shadow: 0 -6px 12px 0px rgba(0,0,0,0.8);
    span
      text-align: center
      a
        display: inline-block
        color: #fff
        line-height: 46px
        &:hover
          animation: neon 1.5s ease-in-out infinite alternate
      i 
        display: block
        width: 144px
        height: 144px
        border: 6px solid white
        border-radius: 78px
        background-size: 250px
        background-position: center
        background-repeat: no-repeat
        transition: all ease-in-out 0.1s 
      &:nth-child(1) i
        background-image: url('../img/Students-Learn-English-USA.png')
        &:hover
          background-size: 270px  
      &:nth-child(2) i
        background-image: url('../img/data.png')
        background-size: 400px
        background-position: 35% 50% 
        &:hover
          background-size: 420px
      &:nth-child(3) i
        background-image: url('../img/teaching.png')
        background-position: 99% 0
        &:hover
          background-size: 260px
      &:nth-child(4) i
        background-image: url('../img/magazine.png')
        background-size: 200px
        &:hover
          background-size: 220px

  .container 
    position: relative
    top: -24px
    .row
      display: flex
      margin-bottom: 12px
    .row section
      display: inline-block
      margin-right: 12px
      vertical-align: top
      &.activity
        width: 510px
        height: 187px
        background-image: url(../img/activity.png)
      &.broadcast
        width: 294px
        height: 185px
        border: 1px solid bg-color
        .broadcast-header
          font-size: 14px
          color: #fff
          line-height: 35px
          padding: 0 16px
          height: 35px
          background-color: bg-color
          i 
            float: right
            a
              text-decoration: none
        ul
          padding: 14px 20px
          font-size: 12px
          line-height: 20px
          li::before
            content: ''
            display: inline-block
            margin-right: 4px
            width: 10px
            height: 10px
            border-radius: 5px
            background-color: bg-color
          .date
            float: right
      &.resource
        flex: 1 1 0
        margin-right: 0
        display: inline-block
        width: 196px
        height: 187px
        background: url('../img/resource.png') no-repeat
        text-align: center
        .resource-header span
          font-size: 18px
          color: #fff
          display: inline-block
          height: 40px
          line-height: 40px
      &.training
        width: 403px
        height: 183px
        background: url('../img/training.png') no-repeat
        .training-header
          span
            margin-top: 10px
            font-size: 22px
            float: right
            margin-right: 20px
            color: #fff
            font-weight: 700
            text-shadow: 1px 1px brown, 1px -1px brown, -1px 1px brown, -1px -1px brown
        button
          clear: both
          width: 162px
          height: 40px
          float: right
          margin: 20px 20px 0 
          background-color: #bda763
          font-size: 22px
          color: #fff
          font-weight: 700
          text-shadow: 1px 1px brown, 1px -1px brown, -1px 1px brown, -1px -1px brown
          &:nth-of-type(1)
            margin-top: 15px
      &.platform
        width: 196px
        height: 183px
        background: url('../img/platform.png') no-repeat
        text-align: center
        .platform-header span
          font-size: 24px
          color: #426b12
          font-weight: 700
          text-shadow: 1px 1px #fff, 1px -1px #fff, -1px 1px #fff, -1px -1px #fff, 0 5px 4px rgba(0,0,0,0.2)
      &.research
        position: relative
        width: 196px
        height: 183px
        background: url('../img/research.png') no-repeat
        text-align: center
        .research-header span
          position: absolute
          margin: 0 10px 8px
          bottom: 0
          left: 0
          font-size: 24px
          color: #fff
          font-weight: 700
      &.expert
        flex: 1 1 0 
        width: 198px
        height: 183px
        margin-right: 0
        background: url('../img/expert.png') no-repeat
        .expert-header span
          display: inline-block
          margin: 6px 0 0 10px
          font-size: 24px
          color: #fff
          font-weight: 700

  footer 
    position: relative
    top: -24px
    width: 1026px
    height: 138px
    background: url('../img/footer.png') no-repeat
    text-align: center
    color: #fff
    display: flex
    flex-direction: column
    justify-content: center
    font-size: 14px
    span
      display: inline-block
      margin-right: 20px

    
@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px neon-color, 0 0 40px neon-color, 0 0 70px neon-color, 0 0 80px neon-color, 0 0 100px neon-color, 0 0 150px neon-color;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px neon-color, 0 0 20px neon-color, 0 0 35px neon-color, 0 0 40px neon-color, 0 0 50px neon-color, 0 0 75px neon-color;
  }
}